.footer {
  background-color: $color-bg-alt;
  border-top: 1px solid $color-border;
  margin-top: 4rem;

  &__main {
    padding: 3rem 0 2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__heading {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
    color: $color-text;
  }

  &__description {
    color: $color-text-light;
    font-size: 0.875rem;
    line-height: 1.6;
    margin: 0;
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    a {
      color: $color-text-light;
      text-decoration: none;
      font-size: 0.875rem;
      @include transition(color 0.2s);

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__social {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    a {
      color: $color-text-light;
      text-decoration: none;
      font-size: 0.875rem;
      @include transition(color 0.2s);

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__bottom {
    border-top: 1px solid $color-border;
    padding: 1.5rem 0;
  }

  &__copyright-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    @include mobile {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
    }
  }

  &__copyright-left,
  &__copyright-right {
    flex: 1;
    color: $color-text-light;
    font-size: 0.875rem;

    p {
      margin: 0;
    }

    a {
      color: $color-text-light;
      text-decoration: none;
      @include transition(color 0.2s);

      &:hover {
        color: $color-primary;
      }
    }

    @include mobile {
      text-align: center;
    }
  }

  &__copyright-left {
    text-align: left;

    @include mobile {
      text-align: center;
    }
  }

  &__copyright-right {
    text-align: right;

    @include mobile {
      text-align: center;
    }
  }

  &__content {
    color: $color-text-light;
    font-size: 0.875rem;
    line-height: 1.6;

    p {
      margin: 0 0 0.5rem 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      display: inline-block;
      margin: 0.5rem 0;
    }

    a {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      margin-right: 1rem;

      img {
        width: 24px;
        height: 24px;
        margin: 0;
      }
    }
  }
}
