.hero {
  text-align: center;
  padding: 3rem 0;
  margin-bottom: 3rem;

  &__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;

    @include mobile {
      font-size: 2rem;
    }
  }

  &__description {
    font-size: 1.25rem;
    color: $color-text-light;

    @include mobile {
      font-size: 1rem;
    }
  }
}
