@font-face {
  font-family: 'TungstenW05-Medium';
  src: url('/fonts/tungstenw05-medium.woff2') format('woff2'),
       url('/fonts/tungstenw05-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
