// Variables & Mixins
@import 'variables';
@import 'mixins';

// Base
@import 'fonts';
@import 'reset';
@import 'layout';

// Components
@import 'components/header';
@import 'components/mobile-menu';
@import 'components/footer';
@import 'components/hero';
@import 'components/posts';
@import 'components/post-single';
@import 'components/page';
@import 'components/slider';

// Blocks
@import '../components/blocks/FullWidthLeftTextSection/styles';
@import '../components/blocks/ImageGridHover/styles';
@import '../components/blocks/IconTextGrid/styles';
@import '../components/blocks/promo-block/styles';
@import '../components/blocks/purpose-block/styles';
@import '../components/blocks/counter-block/styles';
@import '../components/blocks/news-block/styles';

// Utilities
@import 'animations';
@import 'accessibility';
